body {
  font-family: 'MenoeGrotesquePro-Regular';
}

/* 1 экран */
.cover { 
  display: flex;
  height: 720px;
}
/* 2 экран */
.t-shirt {
  height: 752px;
}
/* 3 экран */
.styletext {
  height: 795px;
  width: 100%;
  display: flex;
  background-image: url("../images/bg_styletext.svg");
}
/* 4 экран */
.lang {
  height: 570px;
  position: relative;
}
/* 5 экран */
.pay {
  height: 900px;
  position: relative;
}
/* 6 экран */
.ticker {
  height: 362px;
  width: 100%;
}

.alternativevariants {
  width: 100%;
  height: 602px;
  background-image: url("../images/clotheslines.svg");
}

.firstline {
  height: 112px;
  background: #D1D5FC;
  margin: 113px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgline {
 height: 72px;
 margin: 0 40px 0 40px;
 
}

.textfirstline {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 115px;
}

.secondline {
  height: 112px;
  background: #D1D5FC;
  margin: 24px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textsecondline {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 115px;
}

#fontname {
  font-family: 'MenoeGrotesquePro-Regular';
  font-size: 110px;
  margin: 140px 0 0 50px;
  width: 600px;
}

#line {
  width:600px;
  height:4px;
  background-color: #172FF2;
  margin: 50px 0 0 55px;
}

#caption {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #172FF2;
  font-size: 45px;
  margin: 32px 0 0 55px; 
}

section #right {
  font-family: 'MenoeGrotesquePro-Regular';
  position: absolute;
  left: 116px;
  top: 914px;
  font-size: 110px;

}

.washing_machine {
  background-image: url(../images/washing_machine.svg);
  width: 564px;
  height: 525px;
  margin: 140px 0 0 50px;
}

.bigstar {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}

#star1 {
  position: absolute;
  left: 90px;
  top: 200px;
}
#star2 {
  position: absolute;
  left: 920px;
  top: 386px;
}

#star3 {
  position: absolute;
  left: 1164px;
  top: 120px;
}

#t-shirt {
  width: 576px;
  margin: 200px 0 0 800px;
}

#imgshirt {
  position: relative;
}

#HandwishOnly {
  margin: 35px 0 0 30px;
}

#Rectangle1 {
  width:964px;
  height: 286px;
  border: 5px dashed #172FF2;

  font-family: 'MenoeGrotesquePro-italic';
  color: #000000;
  font-size: 45px;
  position: absolute;
  left: 120px;
  top: 1230px;
}

#caption2 {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 45px;
  width: 650px;
  position: absolute;
  left: 120px;
  top: 80px;
}

#yo1 {
  font-family: 'MenoeGrotesquePro-italic';
  color: #000000;
  font-size: 230px;
  width: 40px;
  position: relative;
  left: 95px;
  top: -322px;
}

#yo2 {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 230px;
  width: 40px;
  position: relative;
  left: 229px;
  top: -513px;
}

#yo3 {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 230px;
  width: 40px;
  position: relative;
  left: 341px;
  top: -773px;
}

#styletext_p {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 45px;
  width: 800px;
  margin: 10px 0 0 150px;
}

#regular {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 300px;
  width: 800px;
  margin: 20px 0 0 120px;
}

#italic {
  font-family: 'MenoeGrotesquePro-Italic';
  color: #000000;
  font-size: 340px;
  width: 800px;
  margin-left: 120px;
}

#lang {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 45px;
  width: 600px;
  margin: 0 0 0 120px;
}

.langcontainer {
  width: 1200px;
  position: relative;
  left: 120px;
  top: 103px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* display: flex; */
}

#Grüßgott {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #D1D5FC;
  font-size: 110px;
  width: 520px;
  margin: 0 60px 0 0;
}

#Привіт {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 110px;
  width: 400px;
  margin: 0 60px 0 0;

}

#Привет {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 110px;
  width: 390px;
  margin: 8px 60px 0 0;

}

#Salut {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #172FF2;
  font-size: 110px;
  width: 400px;
  margin: 8px 60px 0 0;
}

#Zdrasti {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #172FF2;
  font-size: 110px;
  width: 460px;
  margin: 8px 60px 0 0;
}

#Γειασου {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 110px;
  width: 600px;
  margin: 8px 60px 0 0;
}

#coin1 {
  position: absolute;
  right: 0px;
  top: 0px;
}

.cointext1 {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 150px;
  width: 100px;
  transform: rotate(-47.444deg);
  position: absolute;
  right: 72px;
  top: 20px;
}

#coin2 {
  position: absolute;
  right: 0px;
  top: 275px;
}

.cointext2 {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 150px;
  width: 100px;
  transform: rotate(24.762deg);
  position: absolute;
  right: 72px;
  top: 323px;
}

#coin3 {
  position: absolute;
  left: 1089px;
  top: 190px;
}

.cointext3 {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 150px;
  width: 100px;
  position: absolute;
  right: 192px;
  top: 230px;
}

#rectanglepay {
  /* margin: 140px 0 0 120px; */
  position: relative;
  left: 120px;
  top: 140px;
}

.payimg {
  position: relative;
  width: 600px;
}

#coinsmail {
  position: relative;
  left: 345px;
  top: 45px;
}

#paytextregular {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 110px;
  width: 600px;
  position: absolute;
  left: 720px;
  top: 167px;
}

#paytextitalic {
  font-family: 'MenoeGrotesquePro-Italic';
  color: #000000;
  font-size: 110px;
  width: 600px;
  position: absolute;
  left: 720px;
  top: 278px;
}

#arrowleft {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #172FF2;
  font-size: 110px;
  width: 600px;
  position: absolute;
  left: 720px;
  top: 393px;
}

#star4 {
  position: relative;
  left: 300px;
  top: 100px;
}

#star5 {
  position: relative;
  left: 300px;
  top: 100px;
}

#star7 {
  position: relative;
  left: 300px;
  top: 100px;
}

#star8 {
  position: absolute;
  left: 1057px;
  top: 40px;
}

#star9 {
  position: absolute;
  left: 695px;
  top: 593px;
}

.washing_modes {
  display: flex;
  justify-content: center;
  height: 720px;
}

#washing_modes_img {
  height: 561px;
}

.glyphs_section {
  display: flex;
  height: 600px;
}

#hglyphs {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 110px;
  width: 20px;
  margin: 0 0 0 120px;
}

#bubble_first {
  height: 73px;
  width: 600px;
  margin: 40px 0 0 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/bubble_first.svg");

}

#bubble_second {
  height: 73px;
  width: 409px;
  margin: 32px 0 0 221px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/bubble_second.svg");
}

#bubble_third {
  height: 73px;
  width: 327px;
  margin: 32px 0 0 383px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/bubble_third.svg");
}

.glyphs1 {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 45px;
  width: 530px;
}

.glyphs2 {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 45px;
  width: 350px;
}

.glyphs3 {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 45px;
  width: 280px;
}

#washing_machine_two {
  background-image: url(../images/washing_machine_two.svg);
  width: 567px;
  height: 531px;
  margin: 10px 0 0 0px;
}

#Error {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #172FF2;
  font-size: 110px;
  width: 60px;
  margin: 180px 0 0 250px;
  transform: rotate(-15.674deg);
}

footer {
  height: 300px;
  margin: 60px 0 0 0;
  background-color: #D1D5FC;
  width: 100%;
}

footer p {
  font-family: 'MenoeGrotesquePro-Regular';
  color: #000000;
  font-size: 45px;
  float: left; 
  position: relative;
  left: 120px;
  top: 120px;
}

footer img {
  position: relative;
  left: 700px;
  top: 120px;
}